<header>
    <h2 class="cards-title">
        Produtos
    </h2>
</header>
<section class="cards">
    <div class="card">
        <header>
            <h3 class="card-title">Camisa do Flamengo Oficial 02/2020</h3>
        </header>
        <img class="card-img" src="assets/images/flamengo_2020_2.jpg">
    </div>
    <div class="card">
        <header>
            <h3 class="card-title">Camisa do Flamengo Oficial 02/2021</h3>
        </header>
        <img class="card-img" src="assets/images/flamengo_2021_2.jpg">
    </div>
</section>